.App {
  background-color: ghostwhite;
  height:100vh;
}

.logo {
  width: 2.5%;
}

.logo:hover {
  cursor: crosshair;
}

.navTitle {
  color: #ffc246;
  width: 200%;
  margin: auto;
  margin-right: 1%;
}

.navTitle:hover {
  cursor: pointer;
}

.LandingTop {
  display: flex;
  width: 80vw;
  /* background-color: red; */
  margin: auto;
  margin-top: 2%;
  justify-content: space-evenly;
}

.mainlogo {
  width: 10%;
}

.LandingTopText {
  font-size: 1.5rem;;
}

.LandingBottom {
  width: 70vw;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

.LangFlag {
  width: 50%;
  margin-top: 2%;
}

.Intercept {
  width: 50%;
  margin: auto;
  margin-top: 2%;

}

.ContInput {
  width: 20%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.Dashboard {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 5%;
  justify-content: space-around;
  /* background-color: red; */
}

.Rank {
  margin: auto;
  vertical-align: middle;
}

.Rank h2 {
  height: 30%;
  display: flex;
}

.leaderLogo {
  width: 6%;
  height: 6%;
}

.PostDisplay {
  margin: auto;
}

.postsColumn {
  /* background-color: blue; */
  margin: auto;


}

.postName {
  font-size: 1rem;
}

.postSubmit {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}

.FooterText {
  text-align: center;
  width:100vw;
}